In [1]:
# MODULES
import pandas as pd

In [2]:
# READ INPUT FILES
flightsDF = pd.read_csv('Filghts TEC_Valid.csv')
salesDF = pd.read_csv('Sales TEC_Valid.csv')

flightsDF, salesDF

(                               Flight_ID Aeronave DepartureStation  \
 0       ab954014077430bd842cfa305a55c0f8   XA-VBY               AT
 1       efd86c996035dacdca7a0ccb2560dda1   XA-VIX               BM
 2       6cfa1bbaa44f08fc7d3061f034a6a5ce   XA-VBV               AW
 3       dd0fad3248951d2f71d63e6279aeaa4b   XA-VBW               AW
 4       d0987ee648eea254063bfe2b39571b67   XA-VAP               BA
 ...                                  ...      ...              ...
 245748  cc7c1c5e6fd132fd0bdab3a35aac33c0   XA-VBK               BM
 245749  ef32da2731db80faa8b9f5030979a016   9H-MLV               AW
 245750  9c8970e9836d9c5ef9415bfa93c3f408   XA-VAC               AT
 245751  3c15779202b13158f78e8a8afe377250      NaN               AW
 245752  20304ab7212bbbe6c77cdc852d4f8d19      NaN               BA

        ArrivalStation     Destination_Type        Origin_Type  \
 0                  AZ    Ciudad Fronteriza   Ciudad Principal
 1                  AV  MX Amigos y Familia  Ciudad Fronteriza
 2                  AS  MX Amigos y Familia   Ciudad Principal
 3                  AS  MX Amigos y Familia   Ciudad Principal
 4                  AB                Playa   Ciudad Principal
 ...               ...                  ...                ...
 245748             BT                Playa  Ciudad Fronteriza
 245749             BT                Playa   Ciudad Principal
 245750             BT                Playa   Ciudad Principal
 245751             BT                Playa   Ciudad Principal
 245752             BT                Playa   Ciudad Principal

                         STD                  STA  Capacity  Passengers  \
 0       2023-10-19 11:40:00  2023-10-19 14:25:00       240       229.0
 1       2023-07-03 00:55:00  2023-07-03 04:55:00       186       197.0
 2       2024-02-16 17:10:00  2024-02-16 17:55:00       220         NaN
 3       2023-06-26 15:15:00  2023-06-26 15:55:00       220       200.0
 4       2023-02-10 08:40:00  2023-02-10 09:50:00       186       162.0
 ...                     ...                  ...       ...         ...
 245748  2023-12-29 07:30:00  2023-12-29 14:50:00       240       189.0
 245749  2024-04-20 10:45:00  2024-04-20 14:00:00       178         NaN
 245750  2023-12-22 12:50:00  2023-12-22 16:10:00       180       163.0
 245751  2024-10-04 10:00:00  2024-10-04 13:15:00       240         NaN
 245752  2024-05-23 11:25:00  2024-05-23 14:40:00       240         NaN

         Bookings
 0          157.0
 1          109.0
 2            NaN
 3          142.0
 4           90.0
 ...          ...
 245748      86.0
 245749       NaN
 245750      95.0
 245751       NaN
 245752       NaN

 [245753 rows x 11 columns],
                                 Flight_ID ProductType  \
 0        a05290288259526edd3601160b10e1de     Botanas
 1        08f6f97437df8db101b050f1110be656     Licores
 2        4e09c949826a77207868412baeff6d30     Licores
 3        c3e1568fe46c68d3174681d322d412b3     Licores
 4        7396e43fb94caca87add7bb1f1611e7e     Vivabus
 ...                                   ...         ...
 2564356  638cf1904f936c50aea4a6f123ee07cf     Licores
 2564357  04c5a19b8382a888d5c4c7b4932e783e     Licores
 2564358  0291f6b201d2b24717a8ed7ca04f2d90     Licores
 2564359  a10e3ac614fd434d6312897e07727c08     Licores
 2564360  3f53b6ab66d674c6ecec9ebb5d040460     Licores

                             ProductName  Quantity  TotalSales
 0                   Carne Seca Habanero         1        55.0
 1                         Jw Red Label          2       240.0
 2                         Jack And Coke         8       576.0
 3                          Jw Red Label         2       240.0
 4        Vivabus_Gdl.-Nvo. C. Camionera         4       320.0
 ...                                 ...       ...         ...
 2564356       Vino Tinto Sangre De Toro         1       155.0
 2564357       Vino Tinto Sangre De Toro         1       155.0
 2564358       Vino Tinto Sangre De Toro         1       155.0
 2564359       Vino Tinto Sangre De Toro         1       155.0
 2564360       Vino Tinto Sangre De Toro         1       155.0

 [2564361 rows x 5 columns])

In [4]:
# DESCRIPTION INFO
flightsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245753 entries, 0 to 245752
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Flight_ID         245753 non-null  object
 1   Aeronave          165363 non-null  object
 2   DepartureStation  245752 non-null  object
 3   ArrivalStation    245752 non-null  object
 4   Destination_Type  245752 non-null  object
 5   Origin_Type       245752 non-null  object
 6   STD               245753 non-null  object
 7   STA               245753 non-null  object
 8   Capacity          245753 non-null  int64
 9   Passengers        122228 non-null  float64
 10  Bookings          122228 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 20.6+ MB

In [7]:
salesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564361 entries, 0 to 2564360
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
 4   TotalSales   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.8+ MB

In [12]:
print(flightsDF.nunique())
print(salesDF.nunique())

Flight_ID           238055
Aeronave               104
DepartureStation        41
ArrivalStation          41
Destination_Type         5
Origin_Type              5
STD                 124769
STA                 130620
Capacity                 7
Passengers             262
Bookings               218
dtype: int64
Flight_ID      108964
ProductType        21
ProductName       222
Quantity           74
TotalSales       1106
dtype: int64

In [9]:
merged_df = flightsDF.merge(salesDF, on='Flight_ID')
merged_df

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,ProductType,ProductName,Quantity,TotalSales
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Galletas,Chokis,1,45.0
1,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Refrescos,Sprite,1,48.0
2,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Licores,Amstel Ultra,2,144.0
3,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Bebidas Calientes,Cafe 19 Capuchino,1,45.0
4,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Specials,Combo Snack,5,-35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559903,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Licores,Heineken Original,3,216.0
2559904,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Refrescos,Agua Natural 600 Ml,9,432.0
2559905,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Galletas,Emperador Chocolate,1,45.0
2559906,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Botanas,Nishikawa Japones,1,45.0
2559907,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Botanas,Sabritas Originales,16,784.0

In [13]:
print(merged_df.nunique())

Flight_ID           104389
Aeronave                84
DepartureStation        39
ArrivalStation          38
Destination_Type         5
Origin_Type              5
STD                  57547
STA                  60892
Capacity                 7
Passengers             251
Bookings               212
ProductType             21
ProductName            221
Quantity                74
TotalSales            1092
dtype: int64